.carousel {
  &-inner {
    height: 40%;
    height: 40vh;
  }

  &-item {
    .picture {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 20px;
    }
    padding: 30px 30px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #000000;
    text-align: center;
    background-color: #fafafa;
    border-radius: 3px;
  }

  &-control {
    &.right {
      background-image: none;
    }

    &.left {
      background-image: none;
    }
  }
}
