.card {
  min-height: 350px;
  background-color: white;
  color: black;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding-top: 15px;

  img {
    border-radius: 3px;
  }
}
