.active {
  border-bottom: 2px solid #545454;
}

section {
  padding: 50px 0px;
}

.benefits {
  color: #000000;
  background-color: #f5f5f5;
}

.stats {
  color: #ffffff;
  background-color: #8e2679;
  border-top: 5px dashed #f7941d;
  margin-bottom: 0px;
  h1, h2, h3, h4 {
    font-weight: 700;
    color: #fff;
  }
  h5 {
    font-weight: 400;
    color: #fff;
  }
}

.features {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $brand-primary;
  }
  p {
  color: #404040;
  }
  background-color: #ffffff;
}

.testimonial {
  color: #fff;
  border-top: 5px dashed #f7941d;
  background-color: #8e2679;
}

.team {
  h1 {
  color: #8e2679;
  }
  background-color: #fff;
}

.section {
  &--subscribe {
    h1, h2 {
      color: #898989;
    }
    color: #898989;
    border-top: 5px dashed #f7941d;
    background-color: #ffffff;
  }
}
.divider-sm {
  height: 10px;
  width: 100%;
}
.divider-bg {
  height: 20px;
  width: 100%;
}
.border-right {
  border-right: 4px solid #fff;
}
.border-left {
  border-left: 4px solid #fff;
}
