.active {
  border-bottom: 2px solid #545454;
}

section {
  padding: 20px 0px;
}

.landing_box {
  padding: 50px;
  height: 40%;
  height: 40vh;
}

.interest-form {
  height: 65%;
  height: 65vh;
}

.benefits {
  color: #000000;
  background-color: #f5f5f5;
}

