.active {
  border-bottom: 2px solid #545454;
}

section {
  padding: 50px 0px;
}

.landing_box {
  padding: 50px;
  height: 40%;
  height: 40vh;
}

.interest-form {
  height: 65%;
  height: 65vh;
}

.benefits {
  color: #000000;
  background-color: #f5f5f5;
}

.home-banner {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(http://www.urwallpapers.com/download/7075/hd_wallpaper_kids_chasing.jpg/);
 background-size: cover;
 min-height: 25rem;
}

.header-button {
  padding-top: 30px;
}

.stats {
  color: #ffffff;
  background-color: #35434f;
  margin-bottom: 0px;
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
}

.features {
  h1 {
    color: #fdfdfd;
  }
  background-color: #EEE9F9;
}

.testimonial {
  height: 60%;
  height: 60vh;
  background-color: #35434f;
}

.section {
  &--subscribe {
    background-color: #EEE9F9;
  }
}
